:root {
  --title-text-color: black;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --background-color: #2f303a;
}
body {
  font-family: 'Roboto', 'sans-serif';
  color: var(--title-text-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.Web-header {
  color: var(--accent-color);
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.color-logo {
  color: var(--primary-text-color);
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.list {
  color: var(--primary-text-color);
}
.nav-list .link {
  color: var(--primiry-text-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link-mail {
  color: var(--secondary-text-color);
}
.link-mail:hover,
.link-mail:focus {
  color: var(--accent-color);
}
.link-mail {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: var(--secondary-text-color);
}

.main-title {
  text-align: center;
  background-color: var(--background-color);
  color: var(--white-color);
}
.name-title {
  color: white;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.button-main {
  color: white;
  background-color: #2196f3;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
.button-main:hover,
.button-main:focus {
  background-color: var(--button-bg-color);
  color: var(--primary-text-color);
}

.originality-exp {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.profession-list {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}
.second-title {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.third-title {
  background-color: var(--button-bg-color);
}
.team {
  text-align: center;
}
.name-list {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9p;
}
.profession-list {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
.footer-list {
  background-color: var(--background-color);
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
}
.color-footer {
  color: var(--white-color);
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  text-decoration: none;
}
.address {
  color: var(--white-color);
}
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
